<div class="sidebar__admin">
  <div class="sidebar__profile">
    <div class="sidebar__profile__img"
      style="background-image: url('https://images.unsplash.com/photo-1509098681029-b45e9c845022?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80')">
    </div>
    <div class="sidebar__info">
      <h3 class="heading-tertiary">
        {{user.name}}
      </h3>
      <span class="sidebar__email">{{user.email}}</span>
    </div>
    <ul class="sidebar__list">
      <li class="sidebar__item">
        <a href="/admin/dashboard" data-link="/admin/dashboard" class="sidebar__link"><i class="fal fa-chart-line"></i>
          Dashboard</a>
      </li>
      <li class="sidebar__item">
        <a href="/admin/posts" data-link="/admin/posts" class="sidebar__link"><i class="fal fa-newspaper"></i> Posts</a>
      </li>
      <li class="sidebar__item">
        <a href="/admin/users" data-link="/admin/users" class="sidebar__link"><i class="fal fa-user-friends"></i>
          Users</a>
      </li>
      <li class="sidebar__item">
        <a href="/admin/comments" class="sidebar__link" data-link="/admin/comments"><i class="fal fa-comments"></i>
          Comments</a>
      </li>
      <li class="sidebar__item">
        <a href="/admin/settings" data-link="/admin/settings" class="sidebar__link"><i class="fal fa-cog"></i>
          Settings</a>
      </li>
    </ul>
  </div>
</div>