.auth {
  &__card {
    width: 40rem;
    border-radius: 0.3rem;
    box-shadow: 0 0.15rem 0.4rem rgba(0, 0, 0, 0.1);
    margin: 7rem auto;

    &-header {
      padding: 1rem;
      border-bottom: 0.1rem solid rgba($main-color, 0.4);
    }

    &-body {
      padding: 2rem 3rem 1rem;
    }

    &-action {
      padding: 0 3rem 1rem;
    }
  }
}
