{{> _sidebar}}
<div class="admin__posts admin__panel">
  <div class="admin__navbar">
    <ul class="admin__list">
      <li class="admin__item">
        <a href="/admin/posts" data-link="/admin/posts" class="admin__link">Posts</a>
      </li>
      <li class="admin__item">
        <a href="/admin/posts/add" class="admin__link" data-link="/admin/posts/add">Add Post</a>
      </li>
    </ul>
    <ul class="admin__auth__links">
      <li class="admin__item">
        <a href="/admin/users/profile/{{user._id}}" class="admin__link admin__user">{{user.username}}</a>
      </li>
      <li class="admin__item">
        <a href="/users/logout" class="admin__link admin__logout">Logout</a>
      </li>
    </ul>
  </div>
  <div class="admin__addform">
    <div class="admin__card">
      <div class="admin__card-header">
        <div class="text-center">
          <h2 class="heading-secondary">
            Posts
          </h2>
        </div>
      </div>
      <div class="admin__card-body">
      </div>
    </div>
  </div>
</div>