<div class="auth">
  <div class="auth__card">
    <div class="auth__card-header">
      <div class="text-center">
        <h2 class="heading-secondary">
          Login
        </h2>
      </div>
    </div>
    <form class="form" action="/users/login" method="POST">
      <div class="auth__card-body">
        <div class="form__group">
          <input type="email" name="email" id="email" class="form__control" value="{{email}}"
            placeholder="Email Address">
          <label for="email" class="form__label">Email Address</label>
        </div>
        <div class="form__group">
          <input type="password" name="password" value="{{password}}" id="password" class="form__control"
            placeholder="Password">
          <label for="password" class="form__label">Password</label>
        </div>

      </div>
      <div class="auth__card-action">
        <input type="submit" value="Login" class="btn btn--block btn--primary">
        <div class="text-center mt-2 mb-2">
          <a href="/users/register" class="btn btn--link btn--block">Not Registered Yet! Sign Up</a>
        </div>
      </div>
    </form>
  </div>
</div>