// COLORS
$primary-color: #666aea;
$secondary-color: #5fd1e2;
$danger-color: #f34233;
$bg-color: #f3f3f7;
$color-white: #fff;
$main-color: #848388;
$success-color: #4bcc88;
$color-black: #111;
$color-black-light: #5e5e61;
